@import "tailwindcss";
:root {
  --color-main: #101828;
  --color-accent: #ffc531;
  --color-text-dark: #475467;
  --color-gray: #6c717b;
  --color-secondary: #829b91;
  --color-muted: #6d7b75;
  --color-background-light: #f7f7f7;
  --color-background-extra-light: #f2f4f7;
  --color-border: #dadde1;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-light);
}

::-webkit-scrollbar-thumb {
  background-color: #829b91;
  border-radius: 10px;
  border: 2px solid var(--color-background-light);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-main);
}
