.galleryContainer {
  width: 638px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainSwiper {
  width: 100%;
  height: 505px;
  border-radius: 17px;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 17px;
}

.thumbSwiper {
  width: 100%;
}

.thumbWrapper {
  width: 100%;
  height: 144px;
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/* Наш власний залізобетонний клас! */
.activeThumb {
  opacity: 1 !important;
  border: 3px solid var(--color-secondary) !important;
}

.thumbImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}